@import "tailwindcss";

@theme {
  --color-background: #131315;
  --color-on-background: #e5e1e4;
  --color-primary: #ffe1a7;
  --color-primary-container: #fbbf24;
  --color-on-primary-container: #402d00;
  --color-on-primary-fixed-variant: #5c4300;
  
  --color-secondary: #ffb95f;
  --color-secondary-container: #ee9800;
  --color-on-secondary-container: #5b3800;
  
  --color-surface: #131315;
  --color-surface-bright: #39393b;
  --color-surface-dim: #131315;
  --color-surface-container: #201f21;
  --color-surface-container-low: #1b1b1d;
  --color-surface-container-lowest: #0e0e10;
  --color-surface-container-high: #2a2a2c;
  --color-surface-container-highest: #353437;
  
  --color-on-surface: #e5e1e4;
  --color-on-surface-variant: #d3c5ac;
  --color-outline: #9c8f79;
  --color-outline-variant: #4f4633;
  --color-surface-tint: #f9bd22;
  --color-primary-fixed-dim: #f9bd22;
  
  --font-headline: "Geist", "sans-serif";
  --font-body: "Geist", "sans-serif";
  --font-label: "Public Sans", "sans-serif";
}